<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:comtext="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    
    <!--<comtext:component-scan base-package="com.hong"/>-->
    
    <!--scope="singleton" 单例的-->
    <!--scope="prototype" 原型的-->
    <bean id="user" class="com.hong.spring.entity.User" scope="singleton"/>
    <bean id="user1" class="com.hong.spring.entity.User" scope="prototype"/>

</beans>